* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

._container {
    max-width: 1152px;
    margin: 0 auto;
}

.header {}

.interior_header {}

.top_header {
    padding: 30px 30px;
}

.interior_top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {
    display: none;
}

.header_menu {}

.header_list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.header_list li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #222222;
}

.header_link {}

.main_btn {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #222222;
    cursor: pointer;
}

.btn_blue {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    background: #086CF9;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}

.main_btn_menu {
    display: none;
}

.bottom_header {
    background-image: url('../img/pexels-ivan-samkov-5676744\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 739px;
}

.interior_bottom_header {
    background: rgba(0, 0, 0, 0.54);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt_bottom_header {
    padding: 0 30px;
}

.txt_bottom_header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    /* identical to box height */


    color: #FFFFFF;
    margin: 0 0 24px;
}

.txt_bottom_header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #FFFFFF;
    margin: 0 0 54px;
}

.txt_bottom_header .btn {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FFFFFF;
    background: #086CF9;
    border-radius: 4px;
    padding: 15px 30px;
}

.info_header {
    display: flex;
    justify-content: center;
}

.info_header .items {
    display: flex;
    justify-content: space-between;
    gap: 155px;
    margin-top: -100px;
    padding: 55px 88px;
    background: #FFFFFF;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.info_header .item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.info_header .txt_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info_header .txt_item h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */


    color: #222222;
}

.info_header .txt_item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #086CF9;
}

.section {
    padding: 128px 30px;
}

.interior_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 0 128px 0;
}

.txt_sec {
    display: inline-block;
}

.txt_sec h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #222222;
    margin: 0 0 24px;
}

.txt_sec p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */


    color: #555555;
    margin: 0 0 16px;
}

.txt_sec h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */


    color: #333333;
    margin: 0 0 32px;
}

.txt_sec .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: inline-block;
    color: #FFFFFF;
    background: #086CF9;
    border-radius: 4px;
    padding: 16px 32px;
}



.interior_section_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.txt_sec_bottom {
    max-width: 423px;
    margin-bottom: 50px;
}

.txt_sec_bottom h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #222222;
}

.txt_sec_bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #555555;
}

.interior_section_bottom .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.interior_section_bottom .item img {
    margin: 0 0 27px;
}

.interior_section_bottom .item h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #222222;
    margin: 0 0 16px;
}

.interior_section_bottom .item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* or 22px */

    text-align: center;

    color: #555555;
}



.section_2 {
    background: #ECF4FF;
    padding: 60px 30px;
}

.interior_section_2 {
    display: flex;
    flex-direction: column;
}

.txt_sec_2 {
    text-align: center;
}

.txt_sec_2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #000000;
    margin: 0 0 12px;
}

.txt_sec_2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #555555;
    margin: 0 0 50px;
}

.interior_section_2 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.interior_section_2 .card {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 24px;
}

.interior_section_2 .card p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* or 22px */


    color: #555555;

}

.interior_section_2 .card .img_card {
    min-width: 100%;
}

.interior_section_2 .card .info_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 0.5px solid #E9E8E8;
}

.interior_section_2 .card .info_card h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #555555;
}

.title_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.title_card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #333333;
}

.title_card h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #086CF9;
}

.interior_section_2 .main_btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.interior_section_2 .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    color: #FFFFFF;
    background: #086CF9;
    border-radius: 6px;
    padding: 16px 32px;
}



.section_3 {
    padding: 128px 30px;
}

.interior_section_3 {
    padding: 0 0 128px;
}

.title_sec_3 {}

.title_sec_3 h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #222222;
}

.title_sec_3 .txt_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #444444;
    max-width: 551px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.interior_section_3 .cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.interior_section_3 .card {
    background: #FFFFFF;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.interior_section_3 .card .img_card {
    min-width: 100%;
}

.interior_section_3 .txt_card {
    padding: 16px 32px 32px 32px;
}

.interior_section_3 .txt_card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #222222;
    margin: 0 0 8px;
}

.interior_section_3 .txt_card h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #555555;
    margin: 0 0 24px;
}

.interior_section_3 .txt_card h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 22px */


    color: #555555;
}

.info_txt_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 22px */


    color: #555555;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    margin: 0 3px 0 0;
}

.star {
    display: flex;
    align-items: center;
}

.star i {
    margin: 0 3px 0 0;
}



.interior_section_3_2 {}

.interior_section_3_2 .card .img_card {
    min-width: 100%;
}

.interior_section_3_2 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.interior_section_3_2 .card {
    background: #FFFFFF;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.txt_card_2 {
    padding: 24px;
}

.txt_card_2 h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #222222;
    margin: 0 0 20px;
}

.txt_card_2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 22px */


    color: #555555;
}

.section_4 {
    background: #D3E5FE;
    padding: 72px 30px;
}

.interior_sec_4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.txt_item {
    text-align: center;
}

.txt_item h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #222222;
}

.txt_item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #555555;
}



.section_5 {
    margin: 128px 30px;
}

.interior_sec_5 {}

.title_sec_5 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 0 42px;
}

.title_sec_5 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #000000;

}

.title_sec_5 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #555555;
    max-width: 419px;

}

.interior_sec_5 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.interior_sec_5 .card {
    background: #FFFFFF;
    border: 0.5px solid #BFBFBF;
    border-radius: 4px;
}

.interior_sec_5 .card img {
    min-width: 100%;
}

.interior_sec_5 .txt_card {
    padding: 24px 30px 30px 30px;
}

.interior_sec_5 .txt_card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #222222;
    margin: 0 0 16px;
}

.interior_sec_5 .txt_card p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* or 22px */


    color: #444444;
    margin: 0 0 24px;
}

.interior_sec_5 .txt_card h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* identical to box height, or 25px */


    color: #086CF9;
}

.interior_sec_5 .main_btn {
    display: flex;
    justify-content: center;
}

.interior_sec_5 .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    background: #086CF9;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    padding: 16px 32px;
    margin: 40px 0 0;
}



.section_6 {
    padding: 0 30px;
}

.interior_sec_6 {}

.title_sec_6 {
    text-align: center;
    margin: 0 0 42px;
}

.title_sec_6 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #000000;
    margin: 0 0 12px;
}

.title_sec_6 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #555555;
    max-width: 491px;
    margin: 0 auto;
}

.slider {
    display: flex;
    align-items: center;
    gap: 32px;
}

.btn_slider {}

.interior_sec_6 .cards {
    display: flex;
    gap: 24px;

}

.interior_sec_6 .card {
    background: #FFFFFF;
    box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 30px 15px;
}

.interior_sec_6 .card .title_card {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */


    color: #555555;
    margin: 0 0 20px;
}

.author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.txt_autor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.txt_autor h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #222222;
}

.txt_autor p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 22px */


    color: #555555;
}

.btn_slider_2 {
    transform: rotate(180deg);
}

.section_7 {
    margin: 128px 30px;
    display: flex;
    justify-content: center;
}

.interior_sec_7 {
    text-align: center;
    background: #086CF9;
    border-radius: 6px;
    padding: 48px 200px 64px 200px;
}

.interior_sec_7 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */


    color: #FCFCFC;
    margin: 0 0 12px;
}

.interior_sec_7 p {
    max-width: 491px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */

    text-align: center;

    color: #F9F9F9;
    margin: 0 0 40px;
}

.input {
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    padding: 8px;
}

.input input {
    border: none;
    width: 100%;
    font-size: 14px;
    outline: 0;
}

.input .btn {
    background: #086CF9;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FFFFFF;
    padding: 12px 20px;
}



footer {
    background: #D3E5FE;
    padding: 60px 30px 80px 30px;
}

.interior_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interior_footer h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */


    color: #222222;
    margin: 0 0 24px;
}

.education {}

.education p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */


    color: #555555;
    max-width: 360px;
    margin: 0 0 32px;
}

.socials {
    color: #086CF9;
    display: flex;
    gap: 16px;
}

.socials i {
    background: white;
    padding: 14px 19px;
    font-size: 16px;
}

.feature_links {}

.feature_links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feature_links ul li {
    display: flex;
    gap: 15px;
}

.support {}

.support ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.support ul li {
    display: flex;
    gap: 15px;
}

li i {
    color: #086CF9;
}

.contact_us {}

.item_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item_contact p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */


    color: #555555;
    max-width: 203px;
}

.item_contact h5 {
    display: flex;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    color: #444444;
}